---
layout: page
title: Quinn Dougherty
subtitle: bringing great software to data science
use-site-title: true
---
<p>Hi! I'm excited about software engineering, data engineering, and functional programming.</p>

<p>I'm a software engineer with over a year of experience in languages including Python, Java, and Haskell. Most of my Python projects are Machine Learning related. </p>

<p>I know object oriented programming, functional programming, and databases. I can spin up a REST api or microservice on command. I know predictive modeling, machine learning, data visualization, and data analytics.</p>

<p>At every subproblem, I seek opportunities to write small, pure functions. Compositionality is paramount. I lint and typecheck my code as much as possible, because I've experienced strong ROI on code quality and bug-finding. I aspire to be thoughtful, opinionated, and consistent every time I have to decide between functions or classes, between recursive or iterative, and between stateful or stateless.</p>

<p>I'm happy to do any backend work or devops.</p> 

<p>When I'm not writing Python, I'm writing Haskell or Coq. In Coq, I've automated parts of real & complex analysis.</p>

<p>My <a href="https://triplebyte.com/certificate/ZjoW4Zy">Triplebyte certification</a> is in Machine Learning Engineering and I'd be thrilled to implement, deploy, and maintain your models! </p>


<h1>Open Source / Activism</h1>

<h2><a href="https://social-media-analysis-toolkit.herokuapp.com/">Social Media Analysis Toolkit</a></h2>
Make datasets and visualizations of a time series of activity on reddit and twitter. 
(<a href="https://gitlab.com/smat-project/social-media-analysis-toolkit/">View code</a>)
Our targeted userbase is researchers and activists who specialize in disinformation, radicalization, and election meddling. 
Our app queries public social media data and serves visualizations and datasets.
<ul>
	<li>Built out from greenfield an app that went on to be contributed to by a team of 3 people.</li>
	<li>Implemented Changepoint Analysis into a user-friendly tool.</li>
	<li>Configured code style enforcement in CI with CD from GitLab to Heroku.</li>
	<li>Unit tests</li>
</ul>

<h2><a href="http://penn-chime.phl.io/">COVID-19 Hospital Impact Model for Epidemics</a></h2>
	Discrete-time SIR modeling of infections and recovery. 
<ul>
	<li>PRs included increase in code quality/modularity and mission-critical mathematical/epidemiological content from notebook to production. 
	(<a href="https://github.com/CodeForPhilly/chime/pulls?q=is%3Apr+author%3Aquinn-dougherty+">view PRs</a>)
	</li>
	<li>Code review and project management on a team of more than 20 contributors, lead the port of the frontent from Streamlit to Dash.</li>
	<li><a href="https://twitter.com/mattyglesias/status/1246530493706899461">Matt Yglesias: </a>IHME vs CHIME is the only debate that matters now.</li>
	<li><a href="https://www.washingtonpost.com/local/coronavirus-peak-dc-maryland-virginia/2020/04/03/0636bc6c-75cf-11ea-87da-77a8136c1a6d_story.html">
		The Washington Post: </a>Coronavirus peak in D.C., Maryland, Virginia: FAQ on why models differ</li>
</ul>


<h2><a href="https://github.com/codeforphilly/prevention-point">Prevention Point Unified Reporting System</a></h2>
	This project would work to migrate all of the disparate data sources into one system, make a UI that allows Prevention Point to access all participant data in one system, and increase the ease with which program coordinators can evaluate and monitor activities.
<ul>
	<li>Wrote code to generate fake data for a Django app w Faker.</li>
</ul>

<h1>Other Projects</h1>
<h2><a href="https://hate-symbol-embeddings.herokuapp.com">Hate Symbol Embeddings</a></h2>
Data science over the Anti-Defamation League’s Hate Symbol Database. 
Application intended to help extremism researchers identify patterns. 

<h2><a href="https://joinmyhouse.com/">My House</a></h2>
Application allows homeowners to view a valuation for their home
<ul>
	<li>Automated loading & cleaning to streamline updates of data dumps. 
		[<a href="https://github.com/quinn-dougherty/Portfolio/tree/master/load">view code</a>]</li>
	<li>Wrote a tool to automatically log missingness and suggest imputation strategies. [ibid.]</li>
	<li>Deployed an API service on that takes json requests, deserializes a pretrained model, and computes predictions on AWS Elastic Beanstalk. 
		[<a href="https://github.com/labs12-real-estate/labs12-real-estate-valuation_service/tree/quinn-dougherty">view code</a>]
	</li>
	<li>Conducted feature engineering and a gradient-boosted regression tree.</li>
</ul>

<h1>Fun Facts about me</h1>
<ul>
	<li>I've been grinding math and code since 2016, because that's around the time I started thinking it could change the world</li>
	<li>In another timeline, I was an improvisor, concert organizer, and composer. 
There were lots of failures, <a href="https://www.youtube.com/embed/Y6ZhOFhqtA4">here</a> is one of the successes.</li>
	<li>I also worked in the film industry, which taught me about managing teams and preparing for the worst.</li>
</ul>

<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer>
<div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="horizontal" data-theme="dark" data-vanity="quinn-dougherty-581868180">
	<a class="LI-simple-link" href='https://www.linkedin.com/in/quinn-dougherty-581868180?trk=profile-badge'>I am on LinkedIn!
	</a></div>
</script>

<div class="posts-list">
  {% for post in paginator.posts %}
  <article class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
	  <h2 class="post-title">{{ post.title }}</h2>

	  {% if post.subtitle %}
	  <h3 class="post-subtitle">
	    {{ post.subtitle }}
	  </h3>
	  {% endif %}
    </a>

    <p class="post-meta">
      Posted on {{ post.date | date: "%B %-d, %Y" }}
    </p>

    <div class="post-entry-container">
      {% if post.image %}
      <div class="post-image">
        <a href="{{ post.url | prepend: site.baseurl }}">
          <img src="{{ post.image }}">
        </a>
      </div>
      {% endif %}
      <div class="post-entry">
        {{ post.excerpt | strip_html | xml_escape | truncatewords: site.excerpt_length }}
        {% assign excerpt_word_count = post.excerpt | number_of_words %}
        {% if post.content != post.excerpt or excerpt_word_count > site.excerpt_length %}
          <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">[Read&nbsp;More]</a>
        {% endif %}
      </div>
    </div>

    {% if post.tags.size > 0 %}
    <div class="blog-tags">
      Tags:
      {% if site.link-tags %}
      {% for tag in post.tags %}
      <a href="{{ site.baseurl }}/tags#{{- tag -}}">{{- tag -}}</a>
      {% endfor %}
      {% else %}
        {{ post.tags | join: ", " }}
      {% endif %}
    </div>
    {% endif %}

   </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
