---
layout: page
title: Quinn Dougherty
subtitle: software development and data engineering
use-site-title: true
---

<p>I pursue <i>motivated</i> and <i>opinionated</i> software that <strong>minimizes stress</strong> for any humans involved.</p> 

<p>I write python in pep484. </p>

<p>I'd love to get more involved in Haskell, type-driven development, Scala, etc. </p>

<p>My broader interests include AGI, vegan food, programming language theory, ratfic, Gödel, grinding math, etc. </p> 

<p>Please email me if you'd like to form a study group around 
	<a href=http://www.inference.org.uk/mackay/itila/>ITILA by David MacKay</a> or 
<a href=http://www.thelittletyper.com/>Little Typer by Friedman & Christiansen</a></p>

quinndougherty92 ~at~ gmail
<p></p><p></p>

<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>

<div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="horizontal" data-theme="dark" data-vanity="quinn-dougherty-581868180"><a class="LI-simple-link" href='https://www.linkedin.com/in/quinn-dougherty-581868180?trk=profile-badge'>I'm on LinkedIn!</a></div>

<h>land in the stars</h>
<p>I'm be excited to be on any team where I can learn and improve. </p>
<p>I'm signed up for a 
	<a href="https://www.givingwhatwecan.org/get-involved/try-giving/">5% Try Giving on GWWC
	</a> until I complete my <a href="https://lambdaschool.com/courses/data-science/"17% ISA</a>, 
	so a high salary will partially go toward mitigating long-term risk, reducing suffering, etc. </p>

<h>shoot for the moon</h> 
<p>I don't know any biology, but if a company in 
	<a href="https://medium.com/@wild_type/wild-type-food-for-thought-4-4031781e39a6">clean meat</a> 
	needs any software or data engineering I'd be extremely excited to help out. </p>
<p>For alignment research, I'm a few standard deviations short in math ability, 
	but I eventually plan on applying for lower-level engineering 
	jobs to help alignment researchers run experiments.  </p>

<div class="posts-list">
  {% for post in paginator.posts %}
  <article class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
	  <h2 class="post-title">{{ post.title }}</h2>

	  {% if post.subtitle %}
	  <h3 class="post-subtitle">
	    {{ post.subtitle }}
	  </h3>
	  {% endif %}
    </a>

    <p class="post-meta">
      Posted on {{ post.date | date: "%B %-d, %Y" }}
    </p>

    <div class="post-entry-container">
      {% if post.image %}
      <div class="post-image">
        <a href="{{ post.url | prepend: site.baseurl }}">
          <img src="{{ post.image }}">
        </a>
      </div>
      {% endif %}
      <div class="post-entry">
        {{ post.excerpt | strip_html | xml_escape | truncatewords: site.excerpt_length }}
        {% assign excerpt_word_count = post.excerpt | number_of_words %}
        {% if post.content != post.excerpt or excerpt_word_count > site.excerpt_length %}
          <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">[Read&nbsp;More]</a>
        {% endif %}
      </div>
    </div>

    {% if post.tags.size > 0 %}
    <div class="blog-tags">
      Tags:
      {% if site.link-tags %}
      {% for tag in post.tags %}
      <a href="{{ site.baseurl }}/tags#{{- tag -}}">{{- tag -}}</a>
      {% endfor %}
      {% else %}
        {{ post.tags | join: ", " }}
      {% endif %}
    </div>
    {% endif %}

   </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
